<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SEO-goroda</title>
    <link rel="stylesheet" id="bonno-roboto-css" href="//fonts.googleapis.com/css?family=Roboto+Slab:300,400,700&amp;subset=latin,latin-ext" type="text/css" media="all">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
   <div class="wrapper">
        <header class="clearfix">
            <a class="logo">
                <img src="img/logo-2.png" alt="">
            </a>
            <nav>
                <ul class="nav-menu">
                    <li class="nav-menu__item"><a href="" class="nav-menu__link">Блог</a></li>
                    <li class="nav-menu__item nav-menu__item_shared">
                        <a href=""  class="nav-menu__link nav-menu__link_shared">Почему мы</a>
                        <ul class="nav-menu__second-floor">
                            <li class="nav-menu__link_second-floor"><a href="" class="nav-menu__link">Наши клиенты</a></li>
                            <li class="nav-menu__link_second-floor"><a href="" class="nav-menu__link">Что вы получаете</a></li>
                            <li class="nav-menu__link_second-floor"><a href="" class="nav-menu__link">Наши гарантии</a></li>
                            <li class="nav-menu__link_second-floor"><a href="" class="nav-menu__link">Отзывы клиентов</a></li>
                            <li class="nav-menu__link_second-floor"><a href="" class="nav-menu__link">Пример отчета</a></li>
                            <li class="nav-menu__link_second-floor"><a href="" class="nav-menu__link">Договор</a></li>
                        </ul>
                    </li>
                    <li class="nav-menu__item"><a href="" class="nav-menu__link">Наша команда</a></li>
                    <li class="nav-menu__item"><a href="" class="nav-menu__link">Тарифы</a></li>
                    <li class="nav-menu__item"><a href="" class="nav-menu__link">Контанты</a></li>
                </ul>
            </nav>
        </header>
        <main>
            <div class="description clearfix">
                <h1 class="description__title">Запускаем продажи в регионах</h1>
                <ul class="description__list">
                    <li>Выводим 70% всех ваших ключевых фраз на первую страницу поиска в продвигаемых городах. Первые результаты вы получаете уже после первого месяца продвижения. </li>
                    <li>Увеличиваем количество целевых посетителей из поисковых систем из регионов России на 100-500%.</li>
                    <li>Настраиваем сайт, чтобы через корзину шли заказы. Мы единственные в России, кто специализируется на продвижении по городам. Более 10 лет в интернет-продвижении, более 200 продвинутых городов.</li>
                </ul>
            </div>
            <div class="banner"></div>
            <div class="articles clearfix">
                <article class="article-preview">
                   <img class="article-preview__img" src="http://seo-goroda/wp-content/uploads/2017/02/foto320_200.png" alt="">
                    <h3 class="article-preview__title">Продвижение сайтов по всей России: дешевле на 50%     </h3>
                    <p class="article-preview__text">Запускаем предновогоднюю акцию: скидка 50% на первый месяц продвижения. Например, вместо 27 000 за продвижение в десяти городах России за …</p>
                    <a href="" class="article-preview__link btn_light">Читать далее</a>
                </article>
                <article class="article-preview">
                   <img class="article-preview__img" src="http://seo-goroda/wp-content/uploads/2017/02/foto320_200.png" alt="">
                    <h3 class="article-preview__title">Как правильно выбрать SEO-компанию для продвижения ваш…</h3>
                    <p class="article-preview__text">Если вы решили продвигать сайт в поисковых системах, самое время уделить время выбору подрядчика — компании, которая займется оптимизацией вашего …</p>
                    <a href="" class="article-preview__link btn_light">Читать далее</a>
                </article>
                <article class="article-preview">
                   <img class="article-preview__img" src="http://seo-goroda/wp-content/uploads/2017/02/foto320_200.png" alt="">
                    <h3 class="article-preview__title">Ещё одно поздравление с Новым годом в вашей почте</h3>
                    <p class="article-preview__text">Дорогие подписчики компании Seo-goroda! Спешим поздравить вас с неизбежно наступающим Новым Годом! Желаем бесконечного-бесконечного-бесконечного-беск…</p>
                    <a href="" class="article-preview__link btn_light">Читать далее</a>
                </article>
            </div>
            <form action="" class="proposal">
               <h2 class="proposal__title">Заявка на продвижение</h2>
                <label for="site-link">Адрес сайта</label>
                <input type="url" id="site-link" placeholder="Адрес сайта"  required>
                <label for="phone-number">Номер телефона</label>
                <input type="tel" id="phone-number" placeholder="Номер телефона" required pattern="[0-9\s]+">
                <label for="name">Ваше имя</label>
                <input type="text" placeholder="Ваше имя" id="name" required pattern="[A-Za-zА-Яа-яЁё\s]+">
                <input type="submit" value="Отправить заявку" class="btn_dark" id="proposal_submit" >
                <div class="proposal__status"></div>
            </form>   
        </main>
    </div>
    <footer class="clearfix">
       <div class="wrapper">
            <div class="subscribe">
               <p class="subscribe__text">Хотите регулярно узнавать об эффективных инструментах интернет-маркетинга? Оставьте свой e-mail:</p>
                <form action="" class="subscribe__form">
                    <input type="email" placeholder="terraincognita212@mail.ru">
                    <input type="submit" value="Подписаться" class="btn_dark">
                </form>
            </div>
            <div class="contacts contacts_col2">
                <p class="contacts__block">
                    © SEO-GORODA
                </p>
                <p class="contacts__block">
                    компания-резидент технопарка новосибирского Академгородка
                </p>
            </div>
            <div class="contacts contacts_col1">
                <p class="contacts__block">
                   8 952 927-31-84 <br>
                    8 383 363-65-28 <br>
                    8 495 012-50-72 <br>
                    пн–вс  07:00–19:00 (МСК)
                </p>
                <p class="contacts__block1">
                    Новосибирск, Николаева 11, офисы 905, 906
                </p>
           </div>
        </div>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="js/form.js"></script>
</body>
</html>